language:
- python
python:
- '3.5'
install:
- pip install -r requirements.txt
script:
- python3 manage.py test
deploy:
  provider: heroku
  api_key:
    secure: AYnWiwF/TgYCl6UoKlm6SJq35qncaXK93VYkG+C7nGMKiD380lm0n4m7cpAOqq2KXB89Cnp6EnaJ8G1eR1OBooL5jUGFyfusHExwCyB0zWct6yUaeHsvFovYfEg8XzR6HxjQz7UFoeThDAW7UBVd75zezxR3gzYQ1efYdt8yMu/29aVaoRJ5IJlwrpbIO7shlvtRvTVkWO//4P4GgzWboAmzcK55b3WphQNpN56fQgZofaDEMwr4ubNGZFzlAaUinTjw2bsbnkDEet9Nz9Wn0Aa3J0oYDUN9gq+7wS9fy6W/3oInnUYOuFvjdiOEvJGhFza7frrLXq9M0rPIA0KatD80GCgUko9huhJbpeg8As00Svt0MWHRxxvMzPDobF19ZdYZ9OAi9DOXEPf9uN6XnMvA/8+1iaMMU3lS3qOEJn9whxW/9Ri3eusglPw20hh6w4aZSVGuwwm8LU6y9o9cuYIiYRdwJjW9E1AU24AXgiHTjPLfAIcpPd3s+Lprdw7dV1MR+SzgYU6xyXcdoYiTi4s9NXkiryXrUiFxrFHRLydFAjNxlbgDRIoBXYJ9Wv1iSFn3udWRlId7z6TlWMTpE8rckYMzux26Tiqw7VjXWHXQaag5tpNsnj+/9c7rQGbUbMuidJ8qWZL/QBkOYV8FFGhNR2hsdjkMjU3yS5Y+hqQ=
  app: djangobasico
